/* 

    CSS Guide

    1. Web Fonts
    2. General Styles
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. --- Web Fonts --- */

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. ---General Styles--- */

/* outline sits outside the border, but it does not take up space. It’s more like a visual effect painted around the element. */
#mobile-outline {
   outline: 20px solid #333;
   width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   overflow: hidden;
} 

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;
}

.cr-red {
    color: #9a2018;
}

/* 3. ---Header--- */

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }

#burger-con, #main-nav input {
    display: none;
}

/* The general sibling combinator ~ means: “Select any element that is a sibling (shares the same parent) and comes after the target element in the DOM.” */

/* When the checkbox is checked, target the <ul id="burger-con"> that comes after it in the markup. */
 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 /* When the checkbox is checked, target the <img> inside the <label> that comes after it. */
 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

/* 4. ---Main Hero Image--- */

#main-hero {
    margin-top: 20px;
}

.hero-overlap {
   grid-row: 1/1; 
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 1s ease;
    cursor: pointer;
    grid-row: 1/2;
    height: 67px;
 }

 .book-now:hover {
    box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
 }

 .hero-img-h2 {
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: 14px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span {
    color: #9a2018;
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 20px;
 }

 #about-text1 {
    font-size: 14px;
    line-height: 22px;
 }

  #about-text1 p:first-of-type {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 } 

 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
 }

 #contact-con div {
   display: flex;
   justify-content: center;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    /* margin: 0 auto; */
    /* float: left; */
 }
 
 .fa-mobile-alt {
    /* margin-left: 50px; */
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    /* margin-left: 47px; */
    margin-right: 10px;
 }

 /* .5 --- About Section --- */

 #family-quote {
   font-style: italic;
   font-size: 12px;
 }

 #about-pool {
   padding-bottom: 20px;
 }

 /* .6 --- Facilities Section --- */

 #facilities {
   background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }

 #facilities h2 {
   font-size: 24px;
    border-bottom: solid 3px #CF6666;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }

 #facilities h2 span {
    color: #9a2018;
    font-size: 16px;
 }

 .facilities-items {
   margin-bottom: 16px;
 }

 .facilities-items h3 {
   background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
 }

 #facilities p {
   padding-top: 10px;
 }
 

/* .8 --- Footer --- */

#main-footer {
    background-image: url(../images/footer-mob.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    padding-bottom: 80px;
 }

 #main-footer-contact-info h3 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #main-footer-contact-info p {
    line-height: 22px;
 }

 #main-footer nav {
    display: none;
 }

 #price-policy {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 30px;
    line-height: 22px;
 }