/* 

    CSS Guide

    1. Web Fonts
    2. General Styles
    3. Header
    4. Main Hero Image
    5. Why Couples Resort
    6. About & FAQ
    7. Contact Form
    8. Footer

*/

/* 1. --- Web Fonts --- */

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. ---General Styles--- */

/* outline sits outside the border, but it does not take up space. It’s more like a visual effect painted around the element. */
#mobile-outline {
   outline: 20px solid #333;
   width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   overflow: hidden;
} 

#desktop-outline {
   outline: 20px solid #333;
   width: 1200px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   overflow: hidden;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
    font-weight: normal;
    font-size: 14px;
}

.hidden {
   display: none;
}

.cr-red {
    color: #9a2018;
}

/* 3. ---Header--- */

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }

#burger-con, #main-nav input {
    display: none;
}

/* The general sibling combinator ~ means: “Select any element that is a sibling (shares the same parent) and comes after the target element in the DOM.” */

/* When the checkbox is checked, target the <ul id="burger-con"> that comes after it in the markup. */
 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 /* When the checkbox is checked, target the <img> inside the <label> that comes after it. */
 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

 #logo-desk {
   border-right: 2px solid #626262;
   margin: 10px;
   margin-left: 0;
   padding-right: 20px;
   padding-top: 5px;
 }

#nav-list {
   display: flex;
   list-style: none;
   padding-left: 0;
   margin-top: 25px;
   justify-content: space-evenly;
}
#nav-list li {
   margin-right: 50px;
}

#main-header-desk {
   padding-right: 0;
   margin-right: 0;
}

/* 4. ---Main Hero Image--- */

#main-hero {
    margin-top: 20px;
}

.hero-overlap {
   grid-row: 1/1; 
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    cursor: pointer;
    height: 67px;
    font-size: 16px;
 }

 #book-now-header {
   grid-column: 11/14;
 }

 #book-now-desk {
   color: white;
   padding-right: 10px;
 }

 .book-now:hover {
    box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
 }

 .hero-img-h2 {
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: 14px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span {
    color: #9a2018;
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 20px;
 }

 #hero-h2-desk {
   position: absolute;
   align-self: end;
 }

 #hero-h2-desk h2{
   font-size: 16px;
   background-color: rgb(255, 255, 255);
   padding: 15px 15px;
 }

 #hero-h2-desk span{
   color: #9a2018;
   font-size: 12px;
   margin-bottom: 15px;
   line-height: 20px;
 }

 #spa-hero-img-desk {
   position: relative;
 }

 #about-text1 {
    font-size: 14px;
    line-height: 22px;
 }

  #about-text1 p:first-of-type {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 20px;
 } 

 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
 }

 #contact-con div {
   display: flex;
   justify-content: center;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    /* margin: 0 auto; */
    /* float: left; */
 }
 
 .fa-mobile-alt {
    /* margin-left: 50px; */
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    /* margin-left: 47px; */
    margin-right: 10px;
 }

 /* .5 --- About Section --- */

 #family-quote {
   font-style: italic;
   font-size: 12px;
 }

 #about-pool {
   padding-bottom: 20px;
 }

 /* .6 --- Facilities Section --- */

 #facilities {
   background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }

 #facilities h2 {
   font-size: 24px;
    border-bottom: solid 3px #CF6666;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }

 #facilities h2 span {
    color: #9a2018;
    font-size: 16px;
 }

 .facilities-items {
   margin-bottom: 16px;
 }

 .facilities-items h3 {
   background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
 }

 #facilities p {
   padding-top: 10px;
 }

input[type="checkbox"]:checked + span::after {
   content: "Subscribed✅";
   color: green;
   font-weight: bold;
   margin-left: 10px;
}

#newsletter {
   padding-bottom: 20px;
   padding-left: 15px;
}

#newsletter-checkbox {
   display: inline;
}

/* .7 --- Spa Card Section --- */

#line1-spa {
   margin-top: 15px;
}

#line1-spa p {
   border-top: solid 3px #CF6666;
   grid-column: 1/-1;
}

#card1-img {
   margin-top: 15px;
}

#card1-heading {
   margin-top: 15px;
}

#card1-text {
   padding-top: 10px;
}

#spa-cards-nav {
    background-color: #CF6666;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #spa-cards-nav ol {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
 }
 
 #spa-cards-nav ol li {
    display: inline;
    
 }
 
 #spa-cards-nav ol li a {
    padding: 5px;
    color: #fff;
    text-decoration: underline;
 }

 /* .8 --- Additional Spa Info Section --- */

 #additional-spa-info {
   background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }

 #additional-spa-info h2 {
   font-size: 24px;
    border-bottom: solid 3px #CF6666;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }

 #additional-spa-info h2 span {
    color: #9a2018;
    font-size: 16px;
 }

 .facilities-items {
   margin-bottom: 16px;
 }

 .facilities-items h3 {
   background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
 }

 #spa-text2 {
   padding-top: 10px;
 }

 #facilities {
   padding-bottom: 0;
 }

/* .9 --- Room Styles Section --- */

#room-styles-text p {
   border-top: solid 3px #CF6666;
   margin-top: 15px;
   padding-top: 10px;
}

/* .10 Rooms Nav --- */

#rooms-nav {
    padding-top: 20px;
 }
 
 #rooms-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #rooms-nav ul li {
    margin-bottom: 15px;
 }
 
 #rooms-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #rooms-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }

  /* .11 --- Chateaus Section --- */

  #chateaus-text p:first-of-type {
   border-top: solid 3px #CF6666;
   margin-top: 15px;
   padding-top: 10px;
  }

  #chateaus-button {
   background-color: #9a2018;
   padding: 10px;
   animation: pulse;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
  }

  @keyframes pulse {
   0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
   }
   50% {
      transform: scale(1.05);
      box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
   }
   100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
   }
  }

  #chateaus-button a {
   padding-top: 15px;
   font-style: italic;
   color: white;
   font-size: 16px;
  }

  /* .12 --- Desktop Spa Services Section --- */

  #line1 p {
   border-top: solid 3px #CF6666;
   margin-top: 40px;
   margin-bottom: 40px;
  }

  #card1-desk p {
   font-size: 12px;
   text-align: left;
   margin-bottom: 0;
   padding-top: 25px;
   background-color: #efefef;
  }

  /* .13 --- Additional Spa Info Desktop Section --- */

  #spa-info-desk h2 {
   font-size: 20px;
   line-height: 30px;
  }

  #spa-info-desk span {
   font-size: 14px;
   color:#9a2018;
  }

#line2 {
   border-top: solid 3px #CF6666;
   margin-top: 30px;
}

#spa-info-desk-items {
   background-color: #f4f4f4;
}

.spa-items h3 {
    background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

.spa-items p {
   padding-top: 10px;
}
/* .14 --- Footer --- */

#main-footer {
    background-image: url(../images/footer-mob.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    padding-bottom: 80px;
 }

 #main-footer-contact-info h3 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #main-footer-contact-info p {
    line-height: 22px;
 }

 #main-footer nav {
    display: none;
 }

 #price-policy {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 30px;
    line-height: 22px;
 }

 /* .15 --- Desktop Footer --- */

 #main-footer-desk {
   background-image: url(../images/footer-desk.jpg);
   color: #fff;
   font-size: 12px;
   padding-bottom: 60px;
   padding-top: 20px;
 }

 #main-footer-desk h3 {
   font-size: 28px;
   margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #main-footer-contact-info-desk p {
   line-height: 22px;
 }

 #price-policy-desk {
    border-top: solid 3px #CF6666;
    margin-top: 15px;
    padding-top: 30px;
    line-height: 22px;
    text-align: center;
 }

 #footer-nav ul {
   list-style-type: none;
   padding-top: 70px;
   padding-left: 0;
 }

 #footer-nav ul li {
   margin-bottom: 10px;

 }

 #footer-nav ul li a {
   font-size: 16px;
   color: white;
 }

 #book-now-footer {
   margin-top:110px;
   padding-left: 90px;
   
 }

 #book-now-footer a {
   background-color: #9a2018;
   color: white;
   font-size: 16px;
   padding: 40px 50px 40px 50px;
   font-style: italic;
 }